body {
    display: flex;
    
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.header, .footer {
    background: #1F2937;
}

.header, .footer, .signup, button {
    color: #F9FAF8;
}

.main, .logo {
    font-weight: extra-bold;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    align-items: flex-end;
}

.hero, .welcome {
    width: 75%;
    align-self: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.hero ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hero li {
    margin: 0px 10px;
    
}

.welcome {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 100px 0px;
}

.welcome button {
    margin-top: 16px;
}

.welcome h1 {
    margin: 0px;
    font-weight: 900;
    font-size: 36px;
}

.welcome img {
    margin-left: 50px;
}

.content {
    text-align: center;
    margin: 50px;
}

.content h1 {
    font-weight: 900;
    margin: 0px;
}

.container .info {
    font-size: 12px;
    margin: 0px 24px;
}

.info .text {
    margin-top: 8px;
    color: grey;
}

.info img {
    border-radius: 12px;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 24px;
    margin: 50px 50%;
}

.info, .quote {
    font-size: 36px;
    color: #1F2937;
}

.quoteblock {
    background: #E5E7EB;
    padding: 75px 0px;
}

.quote {
    font-weight: 100;
    font-style: italic;
}

.quotee {
    font-weight: bold;
    text-align: right;
    margin-top: 16px;
}

.quote, .quotee {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.signup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 15%;
}

.card {
    background-color: #3882f6;
    box-sizing: border-box;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 50px;
}

.cardcontent {
    margin: 25px 50px;
}

button {
    padding: 5px 24px;
    background-color: #3882f6;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

.card button {
    border: 2px solid #F9FAF8;
    flex-shrink: 0;
    align-self: center;
}

.footer {
    text-align: center;
    padding: 35px;
}